#clock {
    text-align: center;
    font-size: 45px;
    color:aqua; 
}
body{
    background: black;
}


.prev , .next{
    color: white;
    position: absolute;
    bottom: 0px;
    top: 50%;
    font-size: 60px;
}
.next{
    left: 98%;
    border-radius: 3px 0 0 3px;
}
.prev:hover , next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade ;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity: 1}
}
@keyframes fade{
    from{ opacity:.4}
    to{ opacity: 1}

}
body{
    background-repeat: no-repeat;
    background-size: cover;
}