.date {
    text-align: center;
    font-size: 45px;
    color:aqua; 
}
body{
    background: black;
}


.prev , .next{
    color: white;
    position: absolute;
    bottom: 0px;
    top: 50%;
    font-size: 60px;
}
.next{
    left: 98%;
    border-radius: 3px 0 0 3px;
}
.prev:hover , next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade ;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity: 1}
}
@keyframes fade{
    from{ opacity:.4}
    to{ opacity: 1}

}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
.quote{
    color: white;
    font-size: 30px;
    text-align: center;
}
h2{
    color: wheat;
}
.audio-prev ,.audio-next{
 height: 55px;
}
.songs img{
    margin: 10px ;
    height: 35px;
}
.songs img:first-child{
    margin-top: 35px;
}
.play-item::before {
    content: "\2713";
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}
.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}
